.capa1 {
    margin-left: 25%;
    padding: 12px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    width: 20%;
    height: 100%;
    background-color: lightskyblue;
    position: fixed;
}

li a {
    background-color: lightgreen;
    color: white;
    display: block;
    padding: 16px;
    text-decoration: none;
}

a {
    cursor: wait;
}

li a:hover {
    background-color: lightcoral;
}

li .activo {
    background-color: darksgreen;
    color: white;
}

h1 {
    font-family: "Lobster", sans-serif;
}

h2 {
    font-family: "Lora", serif;
}

@font-face {
    font-family: "static";
    src: url("static/RobotoMono-Boldtalic") format("Truetype");
}

p {
    font-family: static;
    font-size: 12px;
    text-align: justify;
}
